{% extends 'shopeazy/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2">{{user.fname}}</h6>
                                <p class="mb-1">{{user.phoneno}}</p>
                                <p>{{user.email}}</p>
                                <p>{{user.address}}</p>
                                <div class="back-to-shop-cart"><a href="/">&leftarrow;</a><span class="text-muted">Back to Home</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">MY ORDERS</h4>
                        <div class="bg-white card mb-4 order-list shadow-sm">
                            {% for order in orders %}
                            <div class="gold-members p-4">
                                <a href="#">
                                </a>
                                <div class="media">
                                    <a href="#">
                                        <img class="mr-4" src="https://cdn.vectorstock.com/i/1000x1000/32/64/online-shop-glyph-icon-vector-40223264.webp" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="mb-2">
                                        <h6>ORDER NUMBER #{{order.id}}</h6>
                                        </h6>
                                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i>ORDER DATE: {{order.orderdate}}
                                        </p>
                                        <div class="float-right">
                                            <a class="btn btn-sm btn-primary" href="/orderitems/{{order.id}}"><i class="icofont-refresh"></i>Order Details</a>
                                        </div>
                                        
                                       
                                        <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold">ORDER TOTAL AMOUNT: ${{order.finalprice}}</span>
                                        </p>
                                    </div>
                                </div>
                                <hr>

                            </div>
                            {%endfor%}
                        </div>
                        <!-- <div class="bg-white card mb-4 order-list shadow-sm">
                            <div class="gold-members p-4">
                                <a href="#">
                                </a>
                                <div class="media">
                                    <a href="#">
                                        <img class="mr-4" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            <span class="float-right text-info">Status: Pending/Delivered<i class="icofont-check-circled text-success"></i></span>
                                        </a>
                                        <h6 class="mb-2">
                                            <a href="#"></a>
                                            <a href="#" class="text-black">Order Number #2</a>
                                        </h6>
                                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i>Ordered on Mon, Nov 29, 2:18 PM
                                        </p>
                                        <hr>
                                        <div class="float-right">
                                            <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i>Order Details</a>
                                        </div>
                                        <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold">Total Amount:</span> $500
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}



