{% extends 'shopeazy/base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment-success">
             <div class="payment_header-success">
                <div class="check-success"><i class="fa fa-check-success" aria-hidden="true"></i></div>
             </div>
             <div class="content-success">
                <h1>Payment Success !</h1>
                <p>Thanks for shopping with us. Your order will be delivered shortly. </p>
                <a href="/">Continue Shopping -></a>
             </div>
             
          </div>
       </div>
    </div>
 </div>

{% endblock %}