{% extends 'shopeazy/base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment-failed">
             <div class="payment_header-failed">
                <div class="check-failed"><i class="fa fa-check-failed" aria-hidden="true"></i></div>
             </div>
             <div class="content-failed">
                <h1>Payment Failed !</h1>
                <p>Payment Failed, Try Again! </p>
                <a href="/checkout">Go to checkout page -></a>
             </div>
             
          </div>
       </div>
    </div>
 </div>

{% endblock %}