{% extends 'shopeazy/base.html' %}

{% load static %}
{% block content %}
<!-- needs to change background-color of all screen -->
<h3 class="my-4 border-bottom pb-1"> <span class="text-muted">Search results for </span>{{request.GET.query}}</h3>
<div id='products' class="col-lg-12 mx-auto">
    <div class="row  mx-auto ">
        {% for product in data %}
        <div class="col-lg-3 card-block mt-2 prd" id={{product.productid}} style="width:15rem; ;">
          <img class="card-img-top" src="{% static product.image %}" height=300px width= 200px alt="Card image cap">
            <div class="card-body text-center" style = "background-color: white">
              <hr>
              <p class="card-title"><a style="color:black;" href="/product/{{product.productid}}">{{product.pname}}</a></p>
              <p class="card-text" ><b>$</b><b>{{product.price}}</b></p>
            </div>
            <div style="background-color: rgb(16, 20, 24) ;" class="card-footer w-100">
              <input type="hidden" value="1" class="form-control product-qty-{{product.productid}}" id="productQty" />
              <input type="hidden" class="product-image-{{product.productid}}" value="{{product.image}}" />
              <input type="hidden" class="product-id-{{product.productid}}" value="{{product.productid}}" />
              <input type="hidden" class="product-pname-{{product.productid}}" value="{{product.pname}}" />
              <input type="hidden" class="product-price-{{product.productid}}" value="{{product.price}}" />
              <!-- <button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button> -->
              <div class="text-center"><button class="btn btn-success mt-auto add-to-cart" data-index="{{product.productid}}">Add to cart</button></div>
            </div>
        </div>
       {% endfor %}
      </div>
  </div>
{% endblock %}