/* Base.html*/
nav{
  background-color: rgb(104, 106, 108);
}
.one-edge-shadow {
          box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}

.display-8{
font-weight: 200;
font-size: 30px;
}
  /* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
/* dropdwon menu*/
.dropdown-menu {
    background-color: rgb(231, 236, 226);
    }
/* carsouel*/
.c-button{
    margin:auto;
    height:0px;
}
/* Footer */
  .footer-icon{
    margin:1%;

  }
  #footer {
    /*position: fixed;*/
    text-align: center;
    background-color: rgb(104, 106, 108);
    left:0;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 100px;
}

#products{
  padding:5rem;
}
.prd{
  margin-bottom: 2rem;
}

/* --------------------product.html-----------------------*/
.pdt {
  height: 350px;
  width: 800px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  float: left;
}
.relatedProducts {
  margin-left: 200px;
  margin-top: 400px;
  height: 200px;
  width: 900px;
}
#prodImage {
  float: left;
}
#productDescription {
  margin-top: 50px;
}
.checked {
  color: orange;
}
.gallery {
  margin-left: 100px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
.gallery:hover {
  border: 1px solid #777;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}

/*-------------profile-orderlist.html------------------*/



/*-------------------------------------------*/
/* ------------------- cart.html ----------------------
body{
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.title{
  margin-bottom: 5vh;
}
.card{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media(max-width:767px){
  .card{
      margin: 3vh auto;
  }
}
.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media(max-width:767px){
  .cart{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}
.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
@media(max-width:767px){
  .summary{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}
.summary .col-2{
  padding: 0;
}
.summary .col-10
{
  padding: 0;
}.row{
  margin: 0;
}
.title b{
  font-size: 1.5rem;
}
.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2, .col{
  padding: 0 1vh;
}
a{
  padding: 0 1vh;
}
.close{
  margin-left: auto;
  font-size: 0.7rem;
}
img{
  width: 3.5rem;
}
.back-to-shop{
  margin-top: 4.5rem;
}
h5{
  margin-top: 4vh;
}
hr{
  margin-top: 1.25rem;
}
form{
  padding: 2vh 0;
}
select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.btn{
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.btn:hover{
  color: white;
}
a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}
#code{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

*/